 .section-banner-franchise {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .become-submit-message p{
        text-align: center;
        color: #00b22f !important;
        font-weight: 700;
        font-size: 25px;
        font-family: Montserrat;
        font-style: italic;
        text-transform: capitalize;
    }


.become-installer-heading{
    width: 60%;
    }
    .become-installer-heading h1{
        color: white;
        padding: 150px 0px;
        font-size: 40px;
        font-weight: 800;
        font-family: "Montserrat", Sans-serif;
        margin: 0px;
font-style: italic;
    }
    .become-installer-heading h1 span{
        color:  #222;
    }

    @media (max-width:1200px){
        .become-installer-img img{
            margin-top: 5rem;
        }
    }

    @media (max-width:997px){
        .become-installer-heading{
            width: 70%;
            }
            .become-installer-heading h1{
                font-size: 30px;
            }
    }

    @media (max-width:768px){
        .become-installer-heading{
            width: 70%;
            }
            .become-installer-heading h1{
                font-size: 25px;
                padding: 120px 10px;
            }
    }
    
    @media (max-width:600px){
        .become-installer-heading{
            width: 100%;
            }
            .become-installer-heading h1{
                font-size: 22px;
                padding: 100px 10px;
            }
    }
    @media (max-width:400px){
        .become-installer-heading h1{
            font-size: 18px;
            padding: 100px 10px;
        }
        
    }


    /* heading */
    .bike-detailing-heading{
        text-align: center;
    }
    .section-bike-detailing {
        padding: 0px 10px 20px 10px;
    }
    .bike-detailing-heading h2 {
        font-size: 70px;
        font-style: italic;
        text-transform: capitalize;
        color: #000000;
        font-family: "Montserrat", Sans-serif;
        font-weight: 800;
    }
    .bike-detailing-heading h2 span{
        color:  #222; 
border-bottom: 5px solid black;
    }

    @media (max-width:997px){
        .bike-detailing-heading h2 {
            font-size: 40px;
        }
    }

    @media (max-width:768px){
        .bike-detailing-heading h2 {
            font-size: 50px;
        }
    }


    /* close */

    .form-submit button{
        border:none;
    }
    .career-img img {
        width: 100%;
        border: 10px solid #222;
    }
